.sb-alert {
  padding: 10px;
  background-color: #FEE8EA;
  border: 1px solid #DC8D7C;
  margin: 10px 0;
  border-radius: 4px;

  ul {
    margin: 0;
  }
}

.sb-alert--info {
  background-color: #FFF;
  border: 1px solid #CCC;
}
