.sb-u__absolute {
  position: absolute;
}

.sb-u__relative {
  position: relative;
}

.sb-u__float-right {
  float: right;
}

.sb-u__clearfix:before {
  content: "";
  display: table-cell;
}

.sb-u__clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.sb-u__mtl {
  margin-top: 15px;
}

@media (max-width: $sb-breakpoint-small-max) {
  .sb-u__pt\@s {
    padding-top: 10px;
  }
}

.sb-u__disabled {
  pointer-events: none;
  opacity: 0.8;
}
